// Abstracts
@use 'abstracts' as abs;

// Base
@use 'base' as base;

// Layout
@use 'layout' as lay;

// Components
@use 'components' as comp;

html, body {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: abs.$primary-bgc;
}