@use '../abstracts' as abs;

.price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.product-price,
.product-prev-price {
  line-height: 0.3;
}

.product-price {
  font-size: abs.$fontsize-h1;
  font-weight: 700;

  @media (min-width: 600px) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

.product-prev-price {
  font-size: abs.$fontsize-p;
  text-decoration: line-through;
  opacity: 0.6;
}