// Colors
$primary-bgc: hsl(30, 38%, 92%); // cream
$primary-cta-color: hsl(158, 36%, 37%); // green 500
$secondary-cta-color: hsl(158, 42%, 18%); // green 700
$neutral-black-color: hsl(212, 21%, 14%);
$neutral-grey-color: hsl(228, 12%, 48%);
$neutral-white-color: hsl(0, 0%, 100%);

// Fonts
$font-body: 'Montserrat', sans-serif;
$font-heading: 'Fraunces', serif;

$fontsize-p: 1.4rem;
$fontsize-h1: 3.2rem;